/* components/UserProfile.module.css */

.profileBox {
  position: relative;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 400px;
  margin: 0 2%;
  color: white;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.18); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.profileImage{
  border-radius: 50%;
}
.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.profilePicture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.defaultPicture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.profileBox h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.profileBox p {
  margin: 8px 0;
  font-size: 16px;
}

.loading {
  text-align: center;
  font-size: 18px;
}

.notFound {
  text-align: center;
  font-size: 18px;
  color: red;
}
