/* components/UserProfile.module.css */

.profileBox {
  position: relative;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.profilePicture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.defaultPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-color: #ccc; /* Background color */
  border-radius: 50%; /* Circular shape */
  font-size: 24px; /* Adjust font size as needed */
  color: #fff; /* Text color */
}

.profileBox h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.profileBox p {
  margin: 8px 0;
  font-size: 16px;
}

.loading {
  text-align: center;
  font-size: 18px;
}

.notFound {
  text-align: center;
  font-size: 18px;
  color: red;
}
