.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto; /* Full height of the viewport */
  background-color: #333333; /* Background color */
}

#particles canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles stay in the background */
}

.textWhite {
  z-index: 1; /* Ensure all content is above the particles */
  color: white; /* White text for visibility */
}

/* Main content fade-in effect */
.mainContent {
  opacity: 0; /* Initial state is invisible */
  transition: opacity 1s ease-in; /* Smooth fade-in transition */
}

.fadeIn {
  opacity: 1; /* Fully visible state */
}
